<p>Are you sure you want to delete:</p>
<blockquote><p><%= @book.title %></p></blockquote>
<form action="/book/<%= @book.id %>" method="POST">
<input name="_method" type="hidden" value="DELETE">
<button type="submit" name="ok">OK</button>
<button type="submit" name="cancel">Cancel</button>
</form>