<h2>Create Your Book Here:</h2>

<form method="POST" action="/book">
<label>Title: <input type="text" name="title"></label>
<label>Author Name: <input type="text" name="author_name"></label>
<label>Quote From The Book: <input type="text" name="content"></label>
<input type="submit" value="Create">
</form>