<div style="text-align:center">
<h1>Create a New Book</h1>
<h3 style="color:red;"><%= @errors %></h3> 
<form method="POST" action="/book"> 
  Title: <input type="text" name="title">
  Author Name: <input type="text" name="author_name">
  Quote: <input type="text" name="content"><br><br>
  <input type="submit" value="Create Book"><br><br>
</form> 
<a href="/user/<%= current_user.id %>"><input type="button" value="Back"></a>
</div>