<h2 style="color:brown;">Sign Up</h2>

<h3 style="color:red;"><%= @errors %></h3>
<form method="POST" action="/signup">
<label for="user[name]">Name:</label>
<input type="text" name="user[name]"><br>
<label for="user[username]">Username:</label>
<input type="text" name="user[username]"><br>
<label for="user[password]">Password:</label>
<input type="password" name="user[password]"><br><br>
<input type="submit" value="Sign up">
</form>