<div style="text-align:center; padding-top:10%">
<h1 style="color:green;">Welcome To The Bookshelf !!</h1>

<h2 style="color:grey;">To Access Your Bookshelf</h2>
<h3><a href="/login">Login</a></h3>
<p>Or</p>
<h3><a href="/signup">Signup</a></h3>
<p style="color:blue;">to create new account.</p>
</div>