<!DOCTYPE html>
<html>
<head>
<title>Bookshelf!</title>
<link rel="stylesheet" href="/stylesheets/style.css"/>
</head>

<body>

<% if logged_in? %>
<div align="right">
  <h3>You are logged in as <%= current_user.username %></h3>
  <a href="/user/<%= current_user.id %>">Home</a>
  <a href="/logout">Logout</a>
</div>
<% end %>
<%= yield %>

</body>

</html>